<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Importação de Arquivos de Estilo (CSS) -->
    <link rel="stylesheet" href="../../Resources/Styles/reset.css">
    <link rel="stylesheet" href="../../Resources/Libraries/vanilla-calendar/vanilla-calendar.min.css">
    <link rel="stylesheet" href="../../Resources/Styles/admin-agendamentos.css">
    <!-- Importação de Arquivos de Script (JS) -->
    <script defer src="../../Resources/Libraries/vanilla-calendar/vanilla-calendar.min.js"></script>
    <script defer src="../../Resources/Scripts/admin-calendario.js"></script>
    <script defer src="../../Resources/Scripts/cabecalho.js"></script>
    <!-- Tela de Agendamentos do Painel Administrativo -->
    <title>Agendamentos</title>
</head>
<body>
    
    <!-- Cabeçalho da página [Logout e Menu] -->
    <header>
        <!-- Botão de Logout -->
        <button id="botao-logout">
            <img src="../../Resources/Icons/logout.svg" alt="X">
            Logout
        </button>

        <div id="container-menu">
            <!-- Botão de Abrir Menu  -->
            <button id="botao-abrir-menu">
                <img src="../../Resources/Icons/menu.svg" alt="Menu">
            </button>

            <!-- Menu Aberto -->
            <nav id="menu-navegacao" style="display: none;">
                <button id="botao-fechar-menu">
                    <img src="../../Resources/Icons/chevron-cima.svg" alt="Fechar">
                </button>
                <a href="./configuracoes.html">Configurações</a>
                <a href="./moradores.html">Moradores</a>
                <a href="./espacos.html">Espaços</a>
            </nav>
        </div>
    </header>

    <!-- Conteúdo da Página -->
    <section class="container-conteudo">
        
    <!-- Título e Subtítulo da Página -->
    <div class="container-titulo">
        <h1>Agendamentos</h1>
        <h2>Selecione um dia para ver as locações da data</h2>
    </div>

    <!-- Calendário e Subtexto -->
    <div>
        <!-- Calendário {VanillaCalendar} -->
        <div id="calendar"></div>
        <!-- ========================= -->
        <h3>Os dias apagados não possuem locações ativas</h3>
    </div>

    </section>

    <!-- Modal (overlay) de detalhes -->
    <!-- Fundo escuro -->
    <section class="container-modal-detalhes">

        <!-- Fundo Claro -->
        <div class="modal-detalhes">
            <!-- Botão de Fechar -->
            <span id="span-fechar-modal">
                <img src="../../Resources/Icons/fechar.svg" alt="X">
            </span>

            <!-- Cabeçalho do Modal -->
            <header>
                <h1>Detalhes</h1>
                <h2>{DATA}</h2>
            </header>

            <!-- Container para as locações (inseridas via Javascript) -->
            <div id="container-locacoes">

                <!-- 
                <div class="locacao">
                    <div class="cabecalho-locacao">
                        <h1>{NOME DO ESPAÇO}</h1>
                        <img src="../../Resources/Images/imagem-locacao.png" alt="Salão de Festa">
                    </div>
                    <div class="corpo-locacao">
                        <p>Apartamento: <span>{NUMERO DO APTO}</span></p>
                        <p>Alugado Desde: <span>{DATA DE CRIAÇÃO}</span></p>
                        <p>Valor na Locação: <span>{VALOR DA LOCAÇÃO}</span></p>
                    </div>
                </div>
                -->
            </div>

            <!-- (Outro) Botão de Fechar -->
            <button type="button" id="botao-fechar-modal">
                Voltar
            </button>
        </div>

    </section>
</body>
</html>