<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../Resources/Icons/favicon.ico">
    <!--Arquivos CSS-->
    <link rel="stylesheet" href="../../Resources/Styles/reset.css">
    <link rel="stylesheet" href="../../Resources/Styles/admin-configuracoes.css">
    <!--Arquivos de Script-->
    <script defer src="../../Resources/Scripts/admin-cabecalho.js"></script>
    <script defer src="../../Resources/Scripts/admin-configuracoes.js"></script>
    <title>Tela de Configuração</title>
</head>

<body>
    <!-- Cabeçalho de Logout e Menu -->
    <header id="cabecalho">
        <button id="botao-logout">
            <img src="../../Resources/Icons/logout.svg" alt="X">
            Logout
        </button>

        <div id="container-menu">
            <button id="botao-abrir-menu">
                <img src="../../Resources/Icons/menu.svg" alt="Menu">
            </button>

            <nav id="menu-navegacao" style="display: none;">
                <button id="botao-fechar-menu">
                    <img src="../../Resources/Icons/chevron-cima.svg" alt="Fechar">
                </button>
                <a href="./agendamentos.html">Agendamentos</a>
                <a class="link-atual">Configurações</a>
                <a href="./espacos.html">Espaços</a>
                <a href="./moradores.html">Moradores</a>
            </nav>
        </div>
    </header>
    <!-- Conteúdo da Página -->
    <section class="container-conteudo">
                
            <!-- Título da página -->
            <h1>Tela de Configuração</h1>

            <!-- Botões que controlam a edição -->
            <button id="botao-editar-configs" class="mostrar">Habilitar Edição</button>
            <div id="container-botoes-edicao">
                <button id="botao-cancelar-edicao">Cancelar</button>
                <button id="botao-salvar-edicao">Salvar</button>
            </div>

            <!-- Campos de Dias p/ Locação-->
            <div class="container-inputs">
                <h2>Locação</h2>
                <label for="input-min-locacao">Mínimo de dias de antecedência para locação:</label>
                <input class="input-config" type="number" id="input-min-locacao" disabled>

                <label for="input-max-locacao">Máximo de dias de antecedência para locação:</label>
                <input class="input-config" type="number" id="input-max-locacao" disabled>
            </div>

            <!-- Campos de Dias p/ Cancelamento -->
            <div class="container-inputs">
                <h2>Cancelamento</h2>
                <label for="input-min-cancelamento">Mínimo de dias de antecedência para cancelamento:</label>
                <input class="input-config" type="number" id="input-min-cancelamento" disabled>

                <label for="input-max-cancelamento">Máximo de dias de antecedência para locação:</label>
                <input class="input-config" type="number" id="input-max-cancelamento" disabled>
            </div>

            <!-- Campos de Limite de Locações -->
            <div class="container-inputs">
                <h2>Limite de Locações</h2>
                <label for="input-limite-locacoes">Limite de locações simultâneas por locador:</label>
                <input class="input-config" type="number" id="input-limite-locacoes" disabled>
            </div>
            <h3>Digite: 0 para desativar essa funcionalidade</h2>
    </body>
</html>