
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../Resources/Icons/favicon.ico">
    <!-- Importação de Arquivos de Estilo (CSS) -->
    <link rel="stylesheet" href="../../Resources/Styles/reset.css">
    <link rel="stylesheet" href="../../Resources/Styles/admin-moradores.css">
    <!-- Importação de Arquivos de Script (JS) -->
    <script defer src="../../Resources/Scripts/cabecalho.js"></script>
    <script defer src="../../Resources/Scripts/admin-moradores-consultar-conta.js"></script>
    <script defer src="../../Resources/Scripts/admin-moradores-excluir-conta.js"></script>
    <script defer src="../../Resources/Scripts/admin-moradores-criar-conta.js"></script>
    <title>Gerenciamento de Moradores</title>
</head>
<body>

    <!-- Cabeçalho da página [Logout e Menu] -->
    <header id="cabecalho">
        <!-- Botão de Logout -->
        <button id="botao-logout">
            <img src="../../Resources/Icons/logout.svg" alt="X">
            Logout
        </button>

        <div id="container-menu">
            <!-- Botão de Abrir Menu  -->
            <button id="botao-abrir-menu">
                <img src="../../Resources/Icons/menu.svg" alt="Menu">
            </button>

            <!-- Menu Aberto -->
            <nav id="menu-navegacao" style="display: none;">
                <button id="botao-fechar-menu">
                    <img src="../../Resources/Icons/chevron-cima.svg" alt="Fechar">
                </button>
                <a href="./agendamentos.html">Agendamentos</a>
                <a href="./configuracoes.html">Configurações</a>
                <a href="./espacos.html">Espaços</a>
                <a class="link-atual">Moradores</a>
            </nav>
        </div>
    </header>

   <!-- Título da Página -->
   <h1 class="titulo">Tela de Gerenciamento de Moradores</h1>


    <!-- Botões do Gerenciamento de Conta -->
    <div id="container-botoes-conta">
        <!-- Botão de Criar Conta -->
        <button type="button" id="botao-criar-conta" class="botoes-conta">
            Criar Conta
        </button>
        <!-- Botão de Modificar Conta -->
        <button type="button" id="botao-modificar-conta" class="botoes-conta">
            Modificar Conta
        </button>
        <!-- Botão de Excluir Conta -->
        <button type="button" id="botao-excluir-conta" class="botoes-conta"> 
            Excluir Conta
        </button>
        <div>
            <!-- Input: Número do Apto -->
            <label for="input-n-apto">
                Apartamento
            </label>
            <input id="input-n-apto" type="number" min="1">
            <!-- Botão de Consultar Apto -->
            <button disabled type="button" id="botao-consultar-conta" class="botoes-conta">
                Consultar Conta
            </button>
        </div>
    </div>

    <!-- Modal de Exclusão de Conta -->
    <section id="container-modal-excluir-conta">
        <div id="modal-excluir-conta">

            <!-- Botão de Fechar -->
            <span id="span-fechar-modal-excluir-conta">
                <img src="../../Resources/Icons/fechar.svg" alt="X">
            </span>

            <!-- Cabeçalho do Modal -->
            <h1>Excluir Conta</h1>

            <!-- Input: Número do Apto -->
            <label for="input-excluir-conta">N° do Apartamento</label>
            <input id="input-excluir-conta" type="number" min="1">

            <!-- Botões de Cancelar e Excluir conta -->
            <div>
                <button type="button" id="botao-fechar-modal-excluir-conta">Cancelar</button>
                <button type="button" id="botao-excluir-modal-excluir-conta" disabled>Excluir</button>
            </div>
        </div>
    </section>
    <!-- ========================== -->

    <!-- Modal de Criação de Conta -->
    <section id="container-modal-criar-conta">
        <div id="modal-criar-conta">

            <!-- Botão de Fechar -->
            <span id="span-fechar-modal-criar-conta">
                <img src="../../Resources/Icons/fechar.svg" alt="X">
            </span>

            <!-- Cabeçalho do Modal -->
            <h1>Criar Conta</h1>

            <!-- Input: Número do Apto -->
            <label for="input-criar-conta">N° do Apartamento</label>
            <input id="input-criar-conta" type="number" min="1">

            <!-- Input: Senha -->
            <label for="senha-criar-conta">Senha</label>
            <input id="senha-criar-conta" type="password">

            <!-- Input: Confirmação de Senha -->
            <label for="confirmar-senha-criar-conta">Confirmar senha</label>
            <input id="confirmar-senha-criar-conta" type="password">

            <!-- Botões de Cancelar e Criar conta -->
            <div>
                <button type="button" id="botao-fechar-modal-criar-conta">Cancelar</button>
                <button type="button" id="botao-criar-modal-criar-conta" disabled>Criar</button>
            </div>
        </div>
    </section>
    <!-- ========================== -->

</body>
</html>