<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../Resources/Icons/favicon.ico">
    <!-- Importação de Arquivos de Script (JS) -->
    <script defer src="../../Resources/Scripts/morador-cabecalho.js"></script>
    <script defer src="../../Resources/Scripts/morador-agendamentos.js"></script>
    <!-- Importação de Arquivos de Estilo (CSS) -->
    <link rel="stylesheet" href="../../Resources/Styles/reset.css">
    <link rel="stylesheet" href="../../Resources/Styles/morador-agendamentos.css">
    <title>Meus Agendamentos</title>
    <!-- Tela com os agendamentos do morador -->
</head>
<body>
    <!-- Cabeçalho da página [Logout e Menu] -->
    <header id="cabecalho">
        
        <!-- Número do Apto no cabeçalho -->
        <h1 id="apto-cabecalho"> Apto...</h1>
        
        <!-- Botão de Logout -->
        <button id="botao-logout">
            <img src="../../Resources/Icons/logout.svg" alt="X">
            Logout
        </button>        
    </header>

    <!-- Conteúdo da Página -->
    <section class="container-conteudo">

        <!-- Título e Subtítulo da Página -->
        <div>
            <h1>Minhas Locações</h1>
            <h2 id="display-limite-locacoes">
                Você pode ter mais N locações ativas
            </h2>
        </div>

        <!-- Lista de Conteúdos -->
        <ul id="container-locacoes">
            <!-- 
                Locações inseridas via JS (morador-agendamentos.js) 
                seguindo o template HTML abaixo:
            -->
        </ul>

        <!-- Botão "Ver Calendário" -->
        <a href="./calendario.html">Ver Calendário</a>

    </section>
    
</body>
</html>