<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../Resources/Icons/favicon.ico">
    <!-- Importação de Arquivos de Estilo (CSS) -->
    <link rel="stylesheet" href="../../Resources/Styles/reset.css">
    <link rel="stylesheet" href="../../Resources/Libraries/vanilla-calendar/vanilla-calendar.min.css">
    <link rel="stylesheet" href="../../Resources/Styles/morador-calendario.css">
    <!-- Importação de Arquivos de Script (JS) -->
    <script defer src="../../Resources/Scripts/morador-cabecalho.js"></script>
    <script defer src="../../Resources/Libraries/vanilla-calendar/vanilla-calendar.min.js"></script>
    <script defer src="../../Resources/Scripts/morador-calendario.js"></script>
    <!-- Tela com o Calendário (Morador) -->
    <title>Calendário de Dias</title>
</head>
<body>
    <!-- Cabeçalho da página [Logout e Menu] -->
    <header id="cabecalho">
        
        <!-- Número do Apto no cabeçalho -->
        <h1 id="apto-cabecalho"> Apto...</h1>
        
        <!-- Botão de Logout -->
        <button id="botao-logout">
            <img src="../../Resources/Icons/logout.svg" alt="X">
            Logout
        </button>        
    </header>
    <!-- Conteúdo da Página -->
    <section class="container-calendario">
        
        <!-- Título e Subtítulo da Página -->
        <div class="titulo">
            <h1>Calendário de Locação</h1>
            <h2>Selecione um dia para ver sua disponibilidade</h2>
        </div>

        <!-- Calendário {VanillaCalendar} -->
        <div id="calendar"></div>

        <!-- Botão de Meus Agendamentos -->
        <a href="./agendamentos.html">Meus Agendamentos</a>

    </section>

    <!-- Modal (overlay) de confirmação -->
    <!-- Fundo escuro -->
    <section class="container-modal-confirmacao">

        <!-- Fundo Claro -->
        <div class="modal-confirmacao">
            <!-- Botão de Fechar -->
            <span id="span-fechar-modal-confirmacao">
                <img src="../../Resources/Icons/fechar.svg" alt="X">
            </span>

            <!-- Cabeçalho do Modal -->
            <header>
                <h1>Detalhes</h1>
                <div id="container-detalhes">
                    <h2 id="apto-modal">...</h2>
                    <h3 id="data-modal">...</h3>
                    <h4 id="limite-modal">...</h4>
                </div>
            </header>

            <!-- Container para as locações -->
            <div style="display: flex;" id="container-locacoes">
                <h1>Selecione o espaço que deseja alugar</h1>
                <input type="radio">
                <div class="locacao">
                    <div class="cabecalho-locacao">
                        <h1>{NOME DO ESPAÇO}</h1>
                        <img src="../../Resources/Images/imagem-locacao.png" alt="Salão de Festa">
                    </div>
                    <div class="corpo-locacao">
                        <p>{VALOR DA LOCAÇÃO}</p>
                    </div>
                </div>
            </div>

            <!-- Botão de Agendar -->
            <button type="button" id="botao-agendar-modal-confirmacao">
                Agendar
            </button>
            <!-- (Outro) Botão de Fechar -->
            <button type="button" id="botao-fechar-modal-confirmacao">
                Cancelar
            </button>
        </div>

    </section>
</body>
</html>