<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../Resources/Icons/favicon.ico">
    <!-- Importação de Arquivos de Script (JS) -->
    <script defer src="../../Resources/Scripts/morador-cabecalho.js"></script>
    <!-- Importação de Arquivos de Estilo (CSS) -->
    <link rel="stylesheet" href="../../Resources/Styles/reset.css">
    <link rel="stylesheet" href="../../Resources/Styles/morador-calendario.css">
    <title>Calendário de Dias</title>
    <!-- Tela com o Calendário (Morador) -->
</head>
<body>
    <!-- Cabeçalho da página [Logout e Menu] -->
    <header id="cabecalho">
        
        <!-- Número do Apto no cabeçalho -->
        <h1 id="apto-cabecalho"> Apto...</h1>
        
        <!-- Botão de Logout -->
        <button id="botao-logout">
            <img src="../../Resources/Icons/logout.svg" alt="X">
            Logout
        </button>        
    </header>
</body>
</html>