/*
    Estilos da página de Configurações (Admin/configuracoes.html)
*/
body{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  padding-top: 30px;
  background-color: whitesmoke;
}


header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header button {
  outline: none;
  background-color: transparent;
  border: 0;
}

header #botao-logout {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Crimson Text", serif;
  font-size: 1em;
  color: #4CACBC;

}

header #botao-logout img {
  display: block;
  margin-top: 4px;
  width: 1.05em;
}


header #container-menu{
  display: flex;
  justify-content: flex-end;
}

header #botao-abrir-menu {
  cursor: pointer;
  transition: transform .2s;
}

header #botao-abrir-menu:hover{
  transform: scale(1.1);
}

header nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4CACBC;
  border-radius: 10px 0 10px 10px;
  padding: 4px 12px;
}

header nav #botao-fechar-menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 8px;
  cursor: pointer;
}

header nav a {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  
  text-decoration: none;
  font-family: "Crimson Text", serif;
  font-size: 1.2em;
  font-weight: 700;
  color: #FFFFFF;

  padding: 2px 0;
  margin: 6px 0;
  border-bottom: 1px solid rgba(255, 255, 255, .4);
  transition: border .2s;
}

header nav a:hover {
  border-bottom: 1px solid #FFFFFF;
}

.container-conteudo {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  opacity: 0;
  transition: opacity .2s;
}



.container-conteudo h1 {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-size: 2em;
  color: #A2A2A2;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #A2A2A280;
}

.container-conteudo #botao-editar-configs.mostrar {
  display: flex;
  outline: none;
  background-color: #4CACBC;
  border-radius: 5px;
  width: fit-content;
  padding: 8px 20px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 1em;
  margin: 0 auto;
  margin-top: 16px;
  border: 1px solid #4CACBC;
}

.container-conteudo #botao-editar-configs {
  display: none;
}

.container-conteudo #container-botoes-edicao.mostrar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
}

.container-conteudo #container-botoes-edicao {
  display: none;
}

#container-botoes-edicao #botao-cancelar-edicao {
  outline: none;
  background-color: transparent;
  border: 1px solid #4CACBC;
  border-radius: 5px;
  width: fit-content;
  padding: 8px 20px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: #4CACBC;
  font-size: 1em;
  margin: 0 10px;
}

#container-botoes-edicao #botao-salvar-edicao {
  outline: none;
  background-color: #4CACBC;
  border-radius: 5px;
  width: fit-content;
  padding: 8px 20px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 1em;
  border: 1px solid #4CACBC;
  margin: 0 10px;
}

.container-conteudo button {
  transition: transform .2s;
  cursor: pointer;
}

.container-conteudo button:hover {
  transform: scale(1.05);
}

.container-conteudo button:disabled {
  transform: scale(1);
  opacity: .6;
  cursor: not-allowed;
}

.container-conteudo .container-inputs {
  display: flex;
  flex-direction: column;
}

.container-inputs {
  margin-top: 4%;
}

.container-inputs h2 {
  color: #a2a2a2;
  font-family: "Barlow", sans-serif;
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 12px;
}

.container-inputs h2::after,
.container-inputs h2::before {
  content: '';
  display: inline-block;
  border: 1px solid #a2a2a220;
  width: calc(27.5% - 1em);
  vertical-align: middle;
  margin: 0 4px;
}

.container-inputs label {
  font-family: "barlow", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #A2A2A2;
  margin-left: 4px
}

.container-inputs input {
  font-family: "barlow", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #282828;
  outline: none;
  border: 0;
  border-bottom: 1px solid #A2A2A280;
  background-color: transparent;
  padding: 4px 4px;
  margin-bottom: 12px;
  -moz-appearance: textfield;
  border-radius: 4px 4px 0 0;
}

.container-inputs input:disabled {
  background-color: #E7E7E780;
  color: #A2A2A2;
}

/* Chrome, Safari, Edge, Opera */
.container-inputs input::-webkit-outer-spin-button,
.container-inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container-conteudo h3{
  font-family: "barlow", sans-serif;
  color: #A2A2A2;
  font-weight: 300;
  margin-top: -10px;
  font-size: .9em;
  font-style: italic;
}

@media screen and (max-width: 800px) {
  .container-conteudo h1 {
    font-size: 1.5em;
    margin-top: 20px;
  }

  .container-conteudo {
    width: 80%;
  }

  .container-inputs label {
    font-size: .9em;
  }

  .container-inputs {
    margin-top: 6%;
  }
}