/*
    Estilos da página de Moradores (Admin/moradores.html)
*/
body{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 30px);
    padding-top: 30px;
    background-color: whitesmoke;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header button {
    outline: none;
    background-color: transparent;
    border: 0;
}

header #botao-logout {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Crimson Text", serif;
    font-size: 1em;
    color: #4CACBC;

}

header #botao-logout img {
    display: block;
    margin-top: 4px;
    width: 1.05em;
}


header #container-menu{
    display: flex;
    justify-content: flex-end;
}

header #botao-abrir-menu {
    cursor: pointer;
    transition: transform .2s;
}

header #botao-abrir-menu:hover{
    transform: scale(1.1);
}

header nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4CACBC;
    border-radius: 10px 0 10px 10px;
    padding: 4px 12px;
}

header nav #botao-fechar-menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 8px;
    cursor: pointer;
}

header nav a {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    
    text-decoration: none;
    font-family: "Crimson Text", serif;
    font-size: 1.2em;
    font-weight: 700;
    color: #FFFFFF;

    padding: 2px 0;
    margin: 6px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    transition: border .2s;
}

header nav a:hover {
    border-bottom: 1px solid #FFFFFF;
}

.titulo {
    font-size: 2em;
    font-family: "Crimson Text", serif;
    color: #A2A2A2;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    margin-top: 30px;
}
#container-botoes-conta {
    display: flex;
    flex-direction: column;
    width: 16%;
    height: 100%;
    margin: 30px auto 50px auto;
    justify-content: space-around;
}

.botoes-conta {
    background-color: #F2D8B0;
    outline: none;
    border: none;
    font-family: "Barlow", sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: #282828;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 15px 0;
}

.botoes-conta:hover {
    transform: scale(1.05);

}

.botoes-conta:disabled {
    transform: scale(1);

}

.botoes-conta:disabled {
    cursor: not-allowed;
    opacity: .6;
}

#container-botoes-conta div {
    display: flex;
    flex-direction: column;
}

#container-botoes-conta div label {
    font-family: "Barlow", sans-serif;
    font-size: 1em;
    color: #A2A2A2;
    padding-left: 2px;
}

#container-botoes-conta div input {
    font-family: "Barlow", sans-serif;
    font-size: 1em;
    color: #282828;
    padding: 2px;
    outline: none;
    border: none;
    border-bottom: 2px solid #A2A2A2;
    background-color: transparent;
    margin-bottom: 4px;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 800px) {
    .titulo {
        font-size: 1.5em;
        padding: 0 30px;
    }
    #container-botoes-conta {
        width: 70%;
    }
}

/*
    =================================
    CSS do Modal de Exclusão de Conta
    =================================
*/

#container-modal-excluir-conta.aberto {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0,0,0,0.6);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-modal-excluir-conta {
    display: none;
}

#modal-excluir-conta {
    background-color: #F5F5F5;
    height: 95%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

#modal-excluir-conta #span-fechar-modal-excluir-conta {
    align-self: flex-end;
    padding: 12px;
    cursor: pointer;
}

#modal-excluir-conta h1 {
    font-family: "Crimson Text", serif;
    font-size: 2em;
    color: #A2A2A2;
    margin-bottom: 30px;
}

#modal-excluir-conta label {
    font-family: "Barlow", sans-serif;
    font-size: 1em;
    color: #A2A2A2;
    padding-left: 2px;
}

#modal-excluir-conta input {
    font-family: "Barlow", sans-serif;
    font-size: 1em;
    color: #282828;
    padding: 2px;
    outline: none;
    border: none;
    border-bottom: 2px solid #A2A2A2;
    background-color: transparent;
    margin-bottom: 4px;
    -moz-appearance: textfield;
}

#modal-excluir-conta div {
    flex: 1;
    align-items: flex-end;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 30px;
}

#modal-excluir-conta #botao-excluir-modal-excluir-conta {
    background-color: #bd2e24;
    border: 1px solid #bd2e24;
    border-radius: 5px;
    color: white;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-size: 1em;
    padding: 10px 20px;
    width: fit-content;
    transition: transform .2s;
    cursor: pointer;
}

#modal-excluir-conta #botao-excluir-modal-excluir-conta:hover {
    transform: scale(1.1)
}

#modal-excluir-conta #botao-excluir-modal-excluir-conta:disabled {
    opacity: .8;
    cursor: not-allowed;
    transform: scale(1);
}



#modal-excluir-conta #botao-fechar-modal-excluir-conta {
    background-color: #FFFFFF;
    border: 1px solid #A2A2A2;
    border-radius: 5px;
    color: #A2A2A2;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-size: 1em;
    padding: 10px 20px;
    width: fit-content;
    transition: transform .2s;
    cursor: pointer;
}

#modal-excluir-conta #botao-fechar-modal-excluir-conta:hover {
    transform: scale(1.1)
}

#modal-excluir-conta #container-locacoes {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
}

#modal-excluir-conta .cabecalho-locacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: -1px 2px 0 rgba(0,0,0,.05);
    background-color: #FFFFFF;
}

.cabecalho-locacao h1 {
    font-family: "Barlow", sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    padding: 2px 10px;
    color: #282828;
}

#modal-excluir-conta .corpo-locacao {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin: 2px 0 45px 0;
}

.corpo-locacao p {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    color: #282828;
    font-size: 1em;
    padding: 2px 0;
}

.corpo-locacao p span {
    color: #4CACBC;
    font-weight: 400;
    padding: 0 4px;

}

@media screen and (max-width: 600px) {
    #modal-excluir-conta {
        width: 95%;
        height: 97.5%;
    }
}